@import url(https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

* {
  box-sizing: border-box;
}

:root {
  --lightBg: #e1dee0;
  --lightC: #333333;
  --lightShadowDark: #b4b2b3;
  --lightShadowLight: #ffffff;
  --lightBtLGLight: #f1eef0;
  --lightBtLGDark: #cbc8ca;
  --lightProgressLight: #fbd1d8;
  --lightProgressDark: #f2695c;

  --darkBg: #292d32;
  --darkC: #d4d4d4;
  --darkShadowDark: #191b1e;
  --darkShadowLight: #393f46;
  --darkBtLGLight: #2c3036;
  --darkBtLGDark: #25292d;
  --darkProgressLight: #3dcdd8;
  --darkProgressDark: #156267;
}

.darkTheme {
  --lightBg: var(--darkBg);
  --lightC: var(--darkC);
  --lightShadowDark: var(--darkShadowDark);
  --lightShadowLight: var(--darkShadowLight);
  --lightBtLGLight: var(--darkBtLGLight);
  --lightBtLGDark: var(--darkBtLGDark);
  --lightProgressLight: var(--darkProgressLight);
  --lightProgressDark: var(--darkProgressDark);
}

.darkTheme img {
  filter: invert(1);
}

body {
  margin: auto;
  font-family: "Roboto", "sans serif";
  background-color: var(--lightBg);
  color: var(--lightC);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.container {
  text-align: center;
  width: 95%;
  max-width: 1000px;
  margin: 10px auto;
}

button {
  width: 200px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: var(--lightBg);
  background: linear-gradient(
    145deg,
    var(--lightBtLGLight),
    var(--lightBtLGDark)
  );
  color: var(--lightC);
  box-shadow: 5px 5px 10px var(--lightShadowDark),
    -5px -5px 10px var(--lightShadowLight);
  transition: box-shadow 0.2s ease, transform 0.2s ease,
    background-color 0.2s ease;
}

input {
  font-size: 1.5em;
  letter-spacing: 0.5em;
  text-align: center;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 800px;
  margin: 40px auto;
}

.keyboardButton {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 50px;
  width: 95%;
  padding: 0;
  border-radius: 10px;
}

#mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  gap: 10px;
}

#buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-grow: 1;
}

.mainButton {
  width: 100%;
  max-width: 500px;
  height: 4em;
  padding: 10px;
  font-weight: bold;
  box-shadow: 7px 7px 14px var(--lightShadowDark),
    -7px -7px 14px var(--lightShadowLight);
}

h1 {
  font-size: 2em;
}

button:hover {
  background-color: var(--lightShadowLight);
  background: linear-gradient(
    145deg,
    var(--lightBtLGDark) var(--lightBtLGLight)
  );
  box-shadow: inset 5px 5px 10px var(--lightShadowDark),
    inset -5px -5px 10px var(--lightShadowLight);
  transform: translateY(1px);
}

button:active {
  box-shadow: inset 5px 5px 10px var(--lightShadowDark),
    inset -5px -5px 10px var(--lightShadowLight);
  transform: translateY(1px);
}

.clickedLetter {
  box-shadow: inset 5px 5px 10px var(--lightShadowDark),
    inset -5px -5px 10px var(--lightShadowLight);
  transform: translateY(1px);
}

#remainingAttempts {
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  border: none;
  box-shadow: 5px 5px 10px var(--lightShadowDark),
    -5px -5px 10px var(--lightShadowLight);
}

#progressBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.progressBar {
  width: 60%;
  height: 1em;
  border-radius: 30px;
  box-shadow: inset 5px 5px 10px var(--lightShadowDark),
    inset -5px -5px 10px var(--lightShadowLight);
}

.progress {
  width: 50%;
  height: 100%;
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    var(--lightProgressLight),
    var(--lightProgressDark)
  );
}

#word {
  text-align: center;
  height: 4em;
  width: 100%;
  border-radius: 50px;
  border: none;
  background-color: var(--lightBg);
  box-shadow: inset 5px 5px 10px var(--lightShadowDark),
    inset -5px -5px 10px var(--lightShadowLight);
}

#wordContainer {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 40px;
}

img {
  width: 150px;
  height: 300px;
}

.transition {
  transition: background-color 0.3s ease, 0.3s ease;
}

@media (max-width: 600px) {
  img {
    width: 100px;
    height: 200px;
    margin: 20px auto;
  }

  #word {
    height: 3em;
  }

  #buttons {
    flex-direction: row;
    width: 100%;
    gap: 20px;
  }

  .keyboard {
    margin: 20px auto;
  }

  #mainContainer {
    margin: auto;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 900px) {
  #mainContainer {
    flex-wrap: wrap;
    gap: 20px;
  }

  #mainContainer > aside:nth-child(1),
  #mainContainer > aside:nth-child(2) {
    flex: 1 1 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #mainContainer > aside:nth-child(3) {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
  }

  #buttons {
    flex-direction: row;
    width: 100%;
    margin: 20px;
    justify-content: space-between;
  }

  .mainButton {
    max-width: 200px;
  }

  .keyboard {
    margin: 20px;
  }
}
